VITE_FIREBASE_API_KEY=AIzaSyDF4frls3J71tLQxRvVUavKbHsVtLsHIIY
VITE_FIREBASE_AUTH_DOMAIN=bancamais-12778.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bancamais-12778
VITE_FIREBASE_STORAGE_BUCKET=bancamais-12778.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=902164362191
VITE_FIREBASE_APP_ID=1:902164362191:web:f475390da5e0a6be5b58ba
VITE_FIREBASE_MEASUREMENT_ID=G-0M6W10Y4L6
